/* 

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
      "h h h h h h"
      "b b b b b a"
      "b b b b b a"
      "l l l l l a"
      "l l l l l a"
      "i i i i i i"
      "e e e e e e"
      "v v v v v v"
      "f f f f f f";
}
.navbar{
  grid-area:n;
}

.header{
  grid-area :h;
  background-color: aqua
}

.banner{
  grid-area:b;
  background-color: teal
}
.ad{
  grid-area:a;
  background-color: khaki
}
.latest-stories{
  grid-area:l;
}
.innovation{
  grid-area:i;
  background-color: lightslategray
}
.entrepreneurship{
  grid-area:e;
  background-color: navy
}
.videos{
  grid-area:v;
  background-color: chocolate
}
.footer{
  grid-area:f;
  background-color: tomato
} */
