.headerStyleadmin {
  background-image: linear-gradient(orangered, black);
  border-bottom: 4px solid red;
  /* border-radius: 0px 0px 75px 75px; */
  position: fixed;
}
.logo {
  color: white;
  font-family: Noto Serif;
  margin-left: 50px;
  padding-top: 10px;
  font-size: 60px;
}

.routestyle {
  padding-top: 12%;
  /* background-color: #111; */
  height: 100%;
  margin-left: -15px;
  width: 100%;
  position: absolute;
}

/* sidebar */
.sidenav1 {
  height: 85vh;
  width: 25%;

  position: fixed;
  /* z-index: 1; */
  top: 15%;
  left: 0;
  border-right: 1px solid orangered;
  background-color: #111;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
  /* position: relative; */
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.active a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: rgba(255, 68, 0, 0.9);
  display: block;
}

.sidenav1 a:hover {
  /* color: #f1f1f1; */
  color: rgba(255, 68, 0, 0.6);
}
