.routestyle {
  /* padding-top: 12%; */
  /* background-color: #111; */
  height: 100%;
  margin-left: -15px;
  width: 100%;
  /* position: absolute; */
}

/* sidebar */
.sidenav1 {
  height: 100%;
  width: 100%;

  position: relative;
  /* z-index: 1; */
  top: -2px;
  margin-left:-15px;
  border-right: 1px solid orangered;
  background-color: #111;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
  /* position: relative; */
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
/* 
.glow a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: rgba(255, 68, 0, 0.9);
  display: block;
} */

.sidenav1 a:hover {
  /* color: #f1f1f1; */
  color: rgba(255, 68, 0, 0.6);
}

@media screen and (max-width:420px){
  .sidenav1{
    padding-top:15%;
    padding-bottom:5%;
    width:420px
  }
}