.banner {
  padding-top: 8%;
}
.bannerImage {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
}
.slidebar {
  visibility: hidden;
}
/* .bannerImage {
  height: 250px;
  margin-left: -20px;
  background-repeat: no-repeat;
  /* background-size: cover;
  /* border: 1px solid white; 
}

  .trans-image:hover .bannerImage,
.trans-image:focus .bannerImage {
  transition: all .5s;
  z-index: 3;
  transform: scale(1);
} */
.bannerHeading {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}
.playButton1 {
  color: #aaa;
  position: absolute;
 top: 10px;
 right:10px
  /* margin-left: 100px; */
}

@media screen and (max-width: 480px) {
 .slidebar {
    visibility: visible;
  }
  .banner {
    padding-top: 18%;
  }
}


