.headerStyle {
  background-image: linear-gradient(orangered, black);
  border-bottom: 4px solid red;
  border-radius: 0px 0px 75px 75px;
  position: fixed;
}
.logo {
  color: white;
  font-family: Noto Serif;
  /* margin-left: 50px; */
  padding: 10px;
  font-size:10vw;
  text-shadow:  0 0 20px #eee;
}
.newsHeaderStyle {
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
 font-size: 42px;
}
.navtext{
  font-size: 1.5vw
}

.menu-div{
  
    position: absolute;
    z-index: 2;
    padding: 90px 20px 90px 90px;
    margin-top: -140px;
    margin-left: -160px;
    color:orangered;
    background-color: white;
    /* ms-transform: rotate(45deg)  IE 9 ;
    webkit-transform: rotate(45deg) Safari 3-8; */
    transform: rotate(45deg)

}
/* For modals */
.topheading {
  margin-top: 35%;
  padding: 20px;
  font-size: 2.8vw;
  margin-left: 10%;
  color: white;
}
.martopform {
  margin-top: 25%;
}
.signup-form {
  margin-top: 15%;
}
.modalInput {
  border: 2px solid orangered;
  height: 8vh;
  border-radius: 25px;
}
.other-login {
  position: relative;
  margin-top: 38%;
  color: white;
}
.other-login-signup {
  position: relative;
  margin-top: 15%;
  color: white;
}
.login-div {
  margin-top: 4rem;
}
.btnLogin {
  display: block;
  margin-left: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 60%;
  color: white;
  background-color: orangered;
  border-radius: 31.5px;
}
.forgot-pass {
  float: right;
  color: white;
  text-decoration: none !important;
}
.new-account {
  color: orangered;
  font-weight: bold;
}
.center {
  text-align: center;
  margin: auto;
  display: block;
}
.back1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../../Assets/modal-back1.png);
  background-size: cover;
  background-position: center;
}

.back2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../../Assets/modal-back2.png);
  background-size: cover;
  background-position: center;
}
.login-text {
  margin-top: 15%;
  font-weight: 700;
  color: white;
}
.tv {
  margin-left: 12% !important;
  position: relative;
  width: 180px;
  height: 250px;
  margin: 20px 0 0 20px;
  background: linear-gradient(orangered, black);
  /* border-radius: 50% / 10%; */
  color: white;
  text-align: center;
  text-indent: 0.1em;
  z-index: 1;
}
.tv:before {
  content: attr(compitition-details);
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  z-index: 1;
}
.update-text {
  position: relative;
  margin-top: 100%;
  padding-right: 20%;
  float: right;
  z-index: 10;
  color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.signup-form input:invalid{
  background-color: rgba(255, 0, 0, 0.5);
  color: wheat;
  transition: background-color .5s ease-out
}
