.horizontalrule {
  border: 1px solid black;
  margin-top: -5px;
  /* float: left; */
  margin-left: -15%;
  width: 100%
}
.newsImage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100px;
  /* max-height: 200px */

  
}
.newsHR {
  color: "#F54A00";
  border: 1px solid #f54a00;
  width: 100%;
  margin-top: -5px;
}
.trending {
  background-color: black;
  border-radius: 5px;
  float: right;
  font-size: small;
  color: #f54a00;
  padding: 5px;
}
