
.innovation{
    padding-left: 10px
}
.innovationHeading{
    position: relative;
    top: 150px;
    left: 5%;
    color: white
}


.imageThumbnail {

    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  