.category {
  display: block;
  height: 55px;
  margin-top: 25%;
  /* width:75%; */
  background-color: orangered;
  color: white;
  border-radius: 20px;
  font-size: 2.2vw;
}
.title-video{
  color: #f54a00;
  margin-left: 10px;
}
.slidebar{
  visibility: hidden;
}
@media screen and (max-width: 736px) {
  .slidebar {
    visibility: visible;
  }
  .category {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 25px;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    font-size: 3.5vw;
  }
  .title-video{
    margin-left: 140px;
  }
}
